/* колір основного текста #757575; */
/* колір заголовків текста #212121;  */
/* колір тексту Hero #FFFFFF; */

/* колір акценту #2196F3; */

/* колір фону Героя і Футера #2F303A; */
/* колір фону секції Team  #F5F4FA;*/

:root {
  /* Text colors */
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --hero-text-color: #ffffff;

  /* Bg colors */
  --hero-background-color: #2f303a;
  --team-background-color: #f5f4fa;

  /* Flex */
  --item: 3;
  --card-set-gap: 30px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Selector Body */
body {
  color: var(--primery-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/**
  |============================
  | Частковий ресет стилей браузера start
  |============================
*/

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.line {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

/* Частковий ресет стилей браузера end */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* WebStudio Page*/

/* Main Header Flex */
.flex-nav {
  display: flex;
  align-items: center;
}

/* Header Section */

.header {
  border-bottom: 1px solid #ececec;
}
/* Header logo */
.logo {
  color: var(--accent-text-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.accent {
  color: #000000;
}

/* Header nav */
.site-nav {
  display: flex;
  gap: 50px;
  margin-left: 93px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}
.site-nav .link.current {
  color: var(--accent-text-color);
}

/* Contacts */
.contacts {
  gap: 50px;
  margin-left: auto;
}

.contacts .link {
  display: flex;
  align-items: center;

  color: var(--primery-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-text-color);
}

.contacts-icon {
  display: block;
  margin-right: 10px;
  fill: currentColor;
}

/* Section Hero */

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/hero/bg_hero_overlay.svg),
    url(../images/hero/hero_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--hero-background-color);
  text-align: center;
}
.hero .title {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  color: var(--hero-text-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Button in Hero*/
.button {
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  color: var(--hero-text-color);
  background-color: var(--accent-text-color);

  font-family: inherit;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
}

/* Section Benefits */

.benefits .items {
  display: flex;
  gap: var(--card-set-gap);
}
.benefits .item {
  flex-basis: calc(
    (100% - var(--card-set-gap) * var(--item)) / var(--item) + 1
  );
}

.benefits .title {
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* Section About */
.about {
  padding-top: 0;
}
.about .items {
  display: flex;
  gap: var(--card-set-gap);
}
.about .title {
  margin-bottom: 50px;
  text-align: center;

  color: var(--title-text-color);

  font-size: 36px;
  line-height: 1.16;
}
.about .item {
  flex-basis: calc((100% - 30px * (var(--item) - 1)) / var(--item));
}

/* Section Team */
.team {
  background-color: var(--team-background-color);
}

.headline {
  margin-bottom: 50px;

  color: var(--title-text-color);

  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.team .items {
  display: flex;
  gap: var(--card-set-gap);
}
.team .item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  flex-basis: calc(
    (100% - var(--card-set-gap) * var(--item)) / var(--item) + 1
  );
}
.team .title {
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.team .text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.team-wrapper {
  padding-top: 30px;
  padding-right: 5px;
  padding-bottom: 30px;
  padding-left: 5px;
}

/* Footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  color: var(--hero-text-color);
  background-color: var(--hero-background-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}
.address {
  font-style: normal;
}
.address .link {
  display: inline-block;

  color: rgba(255, 255, 255, 0.6);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.address .link:hover,
.address .link:focus {
  color: var(--accent-text-color);
}
.address .link:not(:last-child) {
  margin-bottom: 9px;
}
.footer .accent {
  color: var(--hero-text-color);
}

/* Page Porfolio */

/* Section Filters Button */
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter .item:not(:last-child) {
  margin-right: 8px;
}
.filter-btn {
  padding: 6px 22px;
  border: #f5f4fa;
  border-radius: 4px;

  color: var(--title-text-color);
  background-color: var(--team-background-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  font-family: inherit;
  cursor: pointer;
  letter-spacing: 0.03em;
}
.filter-btn:hover,
.filter-btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  color: var(--hero-text-color);
  background-color: var(--accent-text-color);
}

/* Section Portfolio */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: var(--card-set-gap);
}
.gallery-item {
  flex-basis: calc(
    (100% - var(--card-set-gap) * (var(--item) - 1)) / var(--item)
  );
}
.gallery-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery-wrapper {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.gallery-item .gallery-title {
  margin-bottom: 4px;

  color: var(--title-text-color);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.gallery-text {
  font-size: 16px;
  line-height: 1.87;
}
